asyncpg
discord.py[voice]==1.7.3
googletrans==4.0.0rc1
humanize
jishaku
lxml
parsedatetime
pillow
psutil
python-dateutil
git+https://github.com/ytdl-org/youtube-dl
git+https://github.com/Rapptz/discord-ext-menus
